section.section-blog
	.wrap-title
		.container
			.row
				.col-md-offset-1.col-md-11
					h1.h1.services_word__title Блог
	.container
		.row
			.col-lg-offset-1.col-lg-8.col-md-9
				.items-wrap.flex-row
					article.item
						div.item__img
							img(src="/img/blog_img1.png")
						h3.h3.item__title стандартная статья
						p.item__subtitle.
							На чем основаны генетические алгоритмы?
						p.item__text.
							Как происходит создание различных уровней в компьютерной игре? Каковы перспективы применения
						a(href="#").btn.btn_red.btn_lg подробнее
					article.item
						div.item__img
							img(src="/img/blog_img1.png")
						h3.h3.item__title стандартная статья
						p.item__subtitle.
							На чем основаны генетические алгоритмы?
						p.item__text.
							Как происходит создание различных уровней в компьютерной игре? Каковы перспективы применения
						a(href="#").btn.btn_red.btn_lg подробнее
					article.item
						div.item__img
							img(src="/img/blog_img1.png")
						h3.h3.item__title стандартная статья
						p.item__subtitle.
							На чем основаны генетические алгоритмы?
						p.item__text.
							Как происходит создание различных уровней в компьютерной игре? Каковы перспективы применения
						a(href="#").btn.btn_red.btn_lg подробнее
					article.item
						div.item__img
							img(src="/img/blog_img1.png")
						h3.h3.item__title стандартная статья
						p.item__subtitle.
							На чем основаны генетические алгоритмы?
						p.item__text.
							Как происходит создание различных уровней в компьютерной игре? Каковы перспективы применения
						a(href="#").btn.btn_red.btn_lg подробнее
			.col-lg-3.col-md-3
				.sidebar_blog
					.category.box
						h4.header категории
						.content
							ul
								li
									a(href="#") Технологии
								li
									a(href="#") Производство
								li
									a(href="#") Новинки
								li
									a(href="#") События
					.arhive.box
						h4.header Архив
						.content
							ul
								li
									a(href="#") Март 2017
								li
									a(href="#") Февраль 2017
