.box
	h4.header категории
	.content
		ul
			li
				a(href="#") Деревянные слова и буквы
			li
				a(href="#") Фоторамки
			li
				a(href="#") Декоративные вешалки
			li
				a(href="#") Детская метрика