section.section-contact_us
	.wrap-title
		.container
			.row
				.col-md-offset-1.col-md-11
					h1.h1.services_word__title Контакты
	.wrap-contact
		.container
			.contact
				.contact__img
					div#map
				h2.h3 Контакты
				.contact__address
					span Адрес:
					address 0334566 Украина, Херсон. проспект Вечного противостояния. 12, оф 23  23 
				.contact__contactinfo
					div
						span.jicons-text email
						span.contact-emailto  
							a(href="#") Pik@mail.com
					div
						span.jicons-text телефон
						span.contact-emailto +380(44) 354545
					div
						span.jicons-text факс
						span.contact-emailto +380(44) 35454
					div
						span.jicons-text мобильный
						span.contact-emailto 093 354545234
				h2.h3 Контактная форма
				.contact__form
					form.form__validate#orderFormContact(method="get" action="")
						legend Send an email. All fields with an * are required.
						dl
							dt
								label.hasTip.recuired Name
									span.star &nbsp;*
							dd
								input.recuired(name="name" type="text" size="30" arial-required="true" value) 
							dt
								label.hasTip.recuired Email
									span.star &nbsp;*
							dd
								input.recuired(type="email" size="30" arial-required="true" name="email"  value)
							dt
								label.hasTip.recuired Subject
									span.star &nbsp;*
							dd
								input.recuired(name="theme" type="text" size="60" arial-required="true" value)
							dt.inline
								label.hasTip Send copy to yuorself
									span.star &nbsp;*
							dd.inline
								input.checkbox(type="checkbox" value="1")
						dl
							dt
								label.hasTip.recuired Message
									span.star &nbsp;*
							dd
								textarea.recuired(cols="50" rows="10" arial-required="true" name="textarea")
							dd
								button.btn.validate(type="submit") Send Email

