footer.wrapper.footer#footer
	.container
		.flex-row_start
			.logo
				a(href="#")
			.banner
				span.
					Рекламное агенство “Пик”
				span.
					Творческая мастерская “Пик” 
				span.
					Все прав защищены законом об авторском праве.
			ul.nav.footer__nav
				li
					a.active(href="#") главная
				li
					a(href="#") услуги
				li
					a(href="#") галерея
				li
					a(href="#") блог
				li
					a(href="#") контакты
				li
					a(href="#") магазин