footer.wrapper.footer#footer
	.container
		.row
			.flex-row_start
				div
					a(href="#").logo
				.banner
					span.
						Рекламное агенство “Пик”
					span.
						Творческая мастерская “Пик” 
					span.
						Все прав защищены законом об авторском праве.
				ul.nav.footer__nav
					li
						a.active(href="#") главная
					li
						a(href="#") услуги
					li
						a(href="#") галерея
					li
						a(href="#") блог
					li
						a(href="#") контакты
					li
						a(href="#") магазин