section.gallery-block
	.container
		.row
			.gallery
				ul.flex-row
					li
						a(href="#")
							img(src="../img/img1.png")
					li
						a(href="#")
							img(src="../img/img2.png")
					li
						a(href="#")
							img(src="../img/img3.png")
					li
						a(href="#")
							img(src="../img/img4.png")
					li
						a(href="#")
							img(src="../img/img5.png")
					li
						a(href="#")
							img(src="../img/img6.png")
					li
						a(href="#")
							img(src="../img/img7.png")
					li
						a(href="#")
							img(src="../img/img8.png")
					li
						a(href="#")
							img(src="../img/img5.png")
					li
						a(href="#")
							img(src="../img/img4.png")
					li
						a(href="#")
							img(src="../img/img7.png")
					li
						a(href="#")
							img(src="../img/img5.png") 