header.wrapper.header#header
	.container
		.wrap-nav
			.logo
				a(href="#")
			.mobMenu.js-wrap-mob-menu
				i.fa.fa-reorder.js-open-menu_mob
				ul.js-mob-menu
					li
						a(href="#") главная
					li
						a.active(href="#") услуги
					li
						a(href="#") галерея
					li
						a(href="#") блог
					li
						a(href="#") контакты
					li
						a(href="#") магазин
			.mainMenu
				ul.nav
					li
						a(href="#") главная
					li
						a.active(href="#") услуги
					li
						a(href="#") галерея
					li
						a(href="#") блог
					li
						a(href="#") контакты
					li
						a(href="#") магазин