header.wrapper.header#header
	.container
		.wrap-nav
			.logo
				a(href="#")
					//- img(src="/img/logo_header.png")
			ul.nav
				li
					a(href="#") главная
				li
					a.active(href="#") услуги
				li
					a(href="#") галерея
				li
					a(href="#") блог
				li
					a(href="#") контакты
				li
					a(href="#") магазин