header.wrapper.header#header
	.container
		.wrap-nav
			.logo
				a(href="#")
			.mob-menu.js-wrap-mob-menu
				i.fa.fa-reorder.js-open-menu_mob
				ul.js-mob-menu
					li
						a(href="#") главная
					li
						a.active.js-show-mobile-sub-menu(href="#") услуги
						ul.mobile-menu__down-menu
							li
								a(href="#") наружная реклама
							li
								a(href="#") доп. услуги
					li
						a(href="#") галерея
					li
						a(href="#") блог
					li
						a(href="#") контакты
					li
						a(href="#") магазин
			.main-menu
				ul.nav
					li
						a(href="#") главная
					li
						a.active.js-show-dropdown(href="#") услуги
						ul.js-submenu
							li
								a(href="#") наружная реклама
							li
								a(href="#") доп. услуги
					li
						a(href="#") галерея
					li
						a(href="#") блог
					li
						a(href="#") контакты
					li
						a(href="#") магазин