section.services
	.wrap-title
		.container
			h1.h1.services__title Услуги
	.container
		.row
			.services__group.group
				ul
					li.item
						div.item__img
							a(href="#")
								img(src="/img/img1.png")
						div.item__title деревянные слова и буквы
					li.item
						div.item__img
							a(href="#")
								img(src="/img/img2.png")
						div.item__title фоторамки
					li.item
						div.item__img
							a(href="#")
								img(src="/img/img3.png")
						div.item__title декора<br>тивние вешалки
					li.item
						div.item__img
							a(href="#")
								img(src="/img/img4.png")
						div.item__title детская метрика
					li.item.revers
						div.item__img
							a(href="#")
								img(src="/img/img5.png")
						div.item__title свадебный декор
					li.item.revers
						div.item__img
							a(href="#")
								img(src="/img/img6.png")
						div.item__title подставки <br> для <br> крашений
					li.item.revers
						div.item__img
							a(href="#")
								img(src="/img/img7.png")
						div.item__title пара<br>метри<br>ческая<br> мебель
					li.item.revers
						div.item__img
							a(href="#")
								img(src="/img/img8.png")
						div.item__title заготовки<br>для<br>творчества
			include ../chunks/slider_best-works.pug
			.services__btn
				a(href="#").btn.btn_red.btn_lg в галерею
