section.main_slider
	.slider.js-main_slider
		div.slider__item.item.first_img
			.container
				.item__inner
					.item__title
						h2.h2 Рекламное агенство
						span.subtitle всё, что только можно сделать из букв
					ul.box_social
						li
							a.fb(href="#")
						li
							a.skype(href="#")
						li
							a.tw(href="#")
						li
							a.inst(href="#")
						li
							a.viber(href="#")
					.item__contact
						.phone +38(093)2383746
						a.btn.btn_red.btn_md.btn_order оформить заказ
		div.slider__item.item.first_img2
			.container
				.item__inner
					.item__title
						h2.h2 Творческая мастерская
						span.subtitle всё, что только может радовать
					ul.box_social
						li
							a.fb(href="#")
						li
							a.skype(href="#")
						li
							a.tw(href="#")
						li
							a.inst(href="#")
						li
							a.viber(href="#")
					.item__contact
						a.btn.btn_red.btn_md.btn_order оформить заказ

section.services
	.container.border
		.row
			.main_services
				h2.h2_main Услуги
				.services__group.group
					ul
						li.item
							div.item__img
								a(href="#")
									img(src="/img/img1.png")
							div.item__title деревянные слова и буквы
						li.item
							div.item__img
								a(href="#")
									img(src="/img/img2.png")
							div.item__title фоторамки
						li.item
							div.item__img
								a(href="#")
									img(src="/img/img3.png")
							div.item__title декора<br>тивние вешалки
						li.item
							div.item__img
								a(href="#")
									img(src="/img/img4.png")
							div.item__title детская метрика
						li.item.revers
							div.item__img
								a(href="#")
									img(src="/img/img5.png")
							div.item__title свадебный декор
						li.item.revers
							div.item__img
								a(href="#")
									img(src="/img/img6.png")
							div.item__title подставки <br> для <br> крашений
						li.item.revers
							div.item__img
								a(href="#")
									img(src="/img/img7.png")
							div.item__title пара<br>метри<br>ческая<br> мебель
						li.item.revers
							div.item__img
								a(href="#")
									img(src="/img/img8.png")
							div.item__title заготовки<br>для<br>творчества 

section.clients
	.container.border
			.row
				.clients_bg
					h2.h2_main Клиенты
					.flex-row.flex-wrap.client__items
						.item
							img(src="../img/kodak2.png")
						.item
							img(src="../img/tipox.png")
						.item
							img(src="../img/exipia.png")
						.item
							img(src="../img/vide.png")
						.item
							img(src="../img/dehotel.png")
						.item
							img(src="../img/umber.png")
						.item
							img(src="../img/kodak.png")