section.section_article
	.container.bg_container
		.col-md-9.col-sm-12
			.main-article
				span.main-article__date 19 апр
				h2.h2.main-article__title стандартная статья
				.main-article__addition
					span.color_red возможность указать источник
					| и необходимые теги ] теги
				.main-article__img
					img(src="/img/article_img2.png")
				p.main-article__subtitle.
					На чем основаны генетические алгоритмы? Как происходит создание различных уровней в компьютерной игре? Каковы перспективы применения эволюционных алгоритмов? На эти и другие вопросы отвечает доцент Университета Иннополис Джозеф Браун.
				.main-article__text
					p.
						Процедурная генерация контента в играх — это процесс автоматического создания различных ресурсов. Таким образом можно создавать повествование или сюжет игры или более простые объекты, такие как деревья. Или какие-нибудь элементы игрового процесса. Например, какие будут уровни. Этим я в основном и занимаюсь: как создать уровень, который отвечает некоторым ожиданиям игрока и некоторым ожиданиям в контексте повествования. Я использую много приемов из области, которая называется вычислительный интеллект. А вычислительный интеллект применяет биоинспирированные методы для решения сложных задач оптимизации.
					p.
						В основном я занимаюсь так называемыми генетическими алгоритмами. В них с помощью принципов естественного отбора, озвученных Дарвином, мы берем различные структуры, помещаем их вместе и проводим над ними оптимизацию.
				h3.main-article__h3 Возможные варианты:
				p.numblocks.num-3
					span 01
					| Можно ли искусственно воссоздать интеллект человека?
					| Говоря простым языком, есть некая функция, для которой нужно найти подходящее значение. Эта функция может не быть в строгом смысле математической функцией. Могут быть некоторые критерии, которым она должна отвечать. И каждый результат можно будет оценить по этим критериям каким-то объективным способом. То есть я могу оценить качество уровня с помощью какой-нибудь исчислимой величины.

				p.numblocks.num-2
					span 02
					|Это может быть уровень интереса игроков. Может, это критерий количества врагов, которых нужно победить, чтобы добраться до босса. Может, игроку нужен определенный предмет, чтобы пройти в следующую зону. То есть это необязательно очень точные математические функции. Но к ним можно выставить определенное значение приспособленности. А поскольку я могу выставить значение приспособленности для всех этих узлов, существ или хромосом, я могу объективно сказать, что одно из них лучше другого. Это позволяет мне решить, какие из них я хочу перенести в следующее поколение. Для этого я просматриваю свою популяцию и отдаю приоритет тем, у которых приспособленность лучше, чем у других. Затем их можно как-то рекомбинировать. Например, если у нас уровень состоит из комнат, то их можно как-то иначе между собой составить. 
				p.numblocks.
					Эти рекомбинации затем дают нам новую популяцию, которую можно переранжировать, и продолжить процесс. Повторяя цикл много раз, пока не будет достигнуто определенное значение, я таким образом могу не только создать разнообразные уровни, ведь будет готовая структура, но я также буду знать, что они отвечают требованиям игрока и 
		.col-md-3.col-sm-12
			.sidebar_blog
				.box
					h4.header категории
					.content
						ul
							li
								a(href="#") Технологии
							li
								a(href="#") Производство
							li
								a(href="#") Новинки
							li
								a(href="#") События
				.box
					h4.header Архив
					.content
						ul
							li
								a(href="#") Март 2017
							li
								a(href="#") Февраль 2017
				.box
					h4.header Search
					form.searchform
						div
							label(for="s").screen-reader-text dc
							input#s(name="s" type="text" value)
							input#searchsubmit(value="Search")