section.main_slider
	.slider
		div.slider__item.item.first_img
			.container
				.item__inner
					.item__title
						h2.h2 Рекламное агенство
						span.subtitle всё, что только можно сделать из букв
					ul.box_social
						li
							a.fb(href="#")
						li
							a.skype(href="#")
						li
							a.tw(href="#")
						li
							a.inst(href="#")
						li
							a.viber(href="#")
					.item__contact
						.phone +38(093)2383746
						a.btn.btn_red.btn_md.btn_order оформить заказ
section.services
	.container.border
		.row
			.main_services
				h2.h2_main Услуги
				.services__group.group
					ul
						li.item
							div.item__img
								a(href="#")
									img(src="/img/img1.png")
							div.item__title световые вывески
						li.item
							div.item__img
								a(href="#")
									img(src="/img/img2.png")
							div.item__title бегущие строки
						li.item
							div.item__img
								a(href="#")
									img(src="/img/img3.png")
							div.item__title входные групи
						li.item
							div.item__img
								a(href="#")
									img(src="/img/img4.png")
							div.item__title объемные буквы
						li.item.revers
							div.item__img
								a(href="#")
									img(src="/img/img5.png")
							div.item__title неоновая реклама
						li.item.revers
							div.item__img
								a(href="#")
									img(src="/img/img6.png")
							div.item__title оформление транспорта
						li.item.revers
							div.item__img
								a(href="#")
									img(src="/img/img7.png")
							div.item__title несветовые вывески
						li.item.revers
							div.item__img
								a(href="#")
									img(src="/img/img8.png")
							div.item__title неоновое производство 
section.services_more
	.container.border
			.row
				.services_more__wrap
					h2.h2_main дополнительные услуги
					.flex-row.flex-wrap
						a(href="#").services_more__item
							.services_more__img
								img(src="../img/services_more.png")
							.services_more__title.
								мфтериалы для наружной рекламы
						a(href="#").services_more__item
							.services_more__img
								img(src="../img/services_more.png")
							.services_more__title.
								облицовка фасадов акп
						a(href="#").services_more__item
							.services_more__img
								img(src="../img/services_more.png")
							.services_more__title.
								неоновое производставо
						a(href="#").services_more__item
							.services_more__img
								img(src="../img/services_more.png")
							.services_more__title.
								порезка на плоттере
						a(href="#").services_more__item
							.services_more__img
								img(src="../img/services_more.png")
							.services_more__title.
								фрезерно-гравировальные работы
					.wrap-section-nav
						a.icon_section-nav(href="#")
section.info-grafic
	.container.img-man
		.row
			.info-grafic__wrap
				.info-grafic__title
					h2.h2_main инфо графика
				.info-grafic__content
					.img
						img(src="../img/grafics.png")
					.info-grafic__box
						p.text_top.
							Здесь вы можете увидеть как мы день ото дня улучшаем, увеличиваем, наращиваем, оттачиваем и доводим до совершенства.
						p.text_bottom.
							Здесь вы можете увидеть как мы день ото дня улучшаем, увеличиваем, наращиваем, оттачиваем и доводим до совершенства.
section.main_gallery
	.container
		.row
			.main_gallery_bg
			.main_gallery__content.main_gallery__content_main-ra
				h2.h2_main Галерея
				p.main_gallery__subtext.
					здесь вы можете увидеть варианты наших работ и убедится в том, с какой любовью и ентузиазмом мы делаем для вас счастливые предметы, или что то типа того.
				.wrapper-gallery
					section.gallery-block
						.container
							.row
								.gallery
									ul.flex-row
										li
											a(href="#")
												img(src="../img/img1.png")
												span
													em Catedory
										li
											a(href="#")
												img(src="../img/img2.png")
												span
													em Catedory
										li
											a(href="#")
												img(src="../img/img3.png")
												span
													em Catedory
										li
											a(href="#")
												img(src="../img/img4.png")
												span
													em Catedory
										li
											a(href="#")
												img(src="../img/img5.png")
												span
													em Catedory
										li
											a(href="#")
												img(src="../img/img6.png")
												span
													em Catedory
										li
											a(href="#")
												img(src="../img/img7.png")
												span
													em Catedory
										li
											a(href="#")
												img(src="../img/img8.png")
												span
													em Catedory
										li
											a(href="#")
												img(src="../img/img5.png")
												span
													em Catedory
										li
											a(href="#")
												img(src="../img/img4.png")
												span
													em Catedory
										li
											a(href="#")
												img(src="../img/img7.png")
												span
													em Catedory
										li
											a(href="#")
												img(src="../img/img5.png") 
												span
													em Catedory
				.wrap-section-nav
					a.icon_section-nav(href="#")
section.clients.clients_bg
	.container.border
			.row
				h2.h2_main Клиенты
				.flex-row.flex-wrap.clients__items
					.item
						img(src="../img/kodak2.png")
					.item
						img(src="../img/tipox.png")
					.item
						img(src="../img/exipia.png")
					.item
						img(src="../img/vide.png")
					.item
						img(src="../img/dehotel.png")
					.item
						img(src="../img/umber.png")
					.item
						img(src="../img/kodak.png")
section.new
	.container.border
		.row
			h2.h2_main Новое
			.grid-wrap
				.col1
					.grid-elem
						.art.col_big
							a.art__img.art__img_big(href="#")
								img(src="../img/img10.png")
							.art__wrap
								p.art__info.info1
									a(href="#") материалы
								h4.art__header
									a(href="#") Мы можем и больше
								p.art__info.info2 Март 2017
								p.art__text.
									В условиях современной рыночной ситуации популяризация нового торгового имени и формирование положительного отношения к нему потенциальной клиентской аудитории, не менее значимый элемент успешной деятельности фирмы, как  и верно разработанная маркетинговая стратегия, направленная на выведение на просторы рынка нового продукта.
				.col2
					.grid-elem
						.art
							.art__img
								img(src="../img/img9.png")
							.art__wrap
								p.art__info.info1
									a(href="#") творчество
								h4.art__header
									a(href="#") растворимые бусы из берилия
								p.art__info.info2 Март 2017
					.grid-elem
						.art
							.art__wrap
								p.art__info.info1
									a(href="#") дизайн
								h4.art__header
									a(href="#") Мода на раннюю обрезку швов
								p.art__info.info2 Март 2017
							.art__img
								img(src="../img/img1.png")