section.order-form.order-form_booking
	.container
		.order-form__content
			h1.h1.order-form__title оформить заказ	
			.contact__form
				form.form__validate#orderForm(method="get" action="")
					legend ваша заявка будет рассмотрена в течении ...
					dl
						dd
							input.recuired(name="name" type="text" size="30" arial-required="true"  value placeholder="Ф.И.О.") 
						dd
							input.recuired(name="email" type="email" size="30" arial-required="true"  value placeholder="e-mail")
						dd
							input.recuired(name="theme" type="text" size="60" arial-required="true"  value placeholder="Тема")
						dd
							textarea.recuired(name="textarea" cols="50" rows="10" arial-required="true"  placeholder="текст сообщения")
						dd.box-btn
							button.btn.validate(type="submit" value="Submit") отправить 