script(src="js/libs.js")
script(src="js/common.js")
script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZHYvolX-ZyDTxmCCF1xyRl40IZhBPseo&callback=initMap")
script(src="//localhost:35729/livereload.js")
