section.services_word
	.wrap-title
		.container
			h1.h1.services_word__title Услуги
	.container
		.row
			.col-lg-9.col-md-8.col-sm-12
				article.article
					h3.h3 деревянные слова и буквы
					.flex-row
						span.article__img
							img(src="../img/img_article.png")
						div.article__text
							p.
								Художественная резьба по дереву была известна и освоена человеком издавна. Считалось, что дерево является посредником между человеком и солнцем и являляется символом благополучия, здоровья, долголетия и счастья. Из дерева изготавливали бытовые предметы. Резьбой украшали посуду, ограды, дома, мебель, корабли и многое другое. Она имеет множество техник – прорезная или ажурная, скульптурная, рельефная, барельефная.
							p.
								На нашем мастер-классе чаще используется скульптурная техника. Резчик не только расскажет о мастерстве, инструментах, но и поведает о языческих поверьях наших предков о дереве, предметах из дерева. Гости смогут вырезать маленькие скульптуры, ложки, украсить резным узором деревянные
			.col-lg-3.col-md-4.col-sm-12
				.sidebar
					include ../chunks/box-sidebar.pug
					a.btn.btn_red.btn_md оформить заказ
include ../chunks/gallery-panel.pug
section.hits
	.container
		include ../chunks/slider_best-works.pug