section.services_word
	.wrap-title
		.container
			h1.h1.services_word__title Услуги
	.container
		.row
			.col-lg-9.col-md-8.col-sm-12
				article.article
					h3.h3 деревянные слова и буквы
					.article__text
						p
							img.float-left.slider__top_items(src="../img/img_article.png")
							| Художественная резьба по дереву была известна и освоена человеком издавна. Считалось, что дерево является посредником между человеком и солнцем и являляется символом благополучия, здоровья, долголетия и счастья. Из дерева изготавливали бытовые предметы. Резьбой украшали посуду, ограды, дома, мебель, корабли и многое другое. Она имеет множество техник – прорезная или ажурная, скульптурная, рельефная, барельефная.
							|На нашем мастер-классе чаще используется скульптурная техника. Резчик не только расскажет о мастерстве, инструментах, но и поведает о языческих поверьях наших предков о дереве, предметах из дерева. Гости смогут вырезать маленькие скульптуры, ложки, украсить резным узором деревянные
			.col-lg-3.col-md-4.col-sm-12
				.sidebar
					include ../chunks/box-sidebar.pug
					a.btn.btn_red.btn_md оформить заказ
section.gallery-block
	.container
		.row
			.gallery
				ul.flex-row
					li
						a(data-fancybox="gallery" href="../img/img1.png").slider__bot-items.js-group-el
							img(src="../img/img1.png")
					li
						a(data-fancybox="gallery" href="../img/img2.png").slider__bot-items.js-group-el
							img(src="../img/img2.png")
					li
						a(data-fancybox="gallery" href="../img/img3.png").slider__bot-items.js-group-el
							img(src="../img/img3.png")
					li
						a(data-fancybox="gallery" href="../img/img4.png").slider__bot-items.js-group-el
							img(src="../img/img4.png")
					li
						a(data-fancybox="gallery" href="../img/img5.png").slider__bot-items.js-group-el
							img(src="../img/img5.png")
					li
						a(data-fancybox="gallery" href="../img/img6.png").slider__bot-items.js-group-el
							img(src="../img/img6.png")
					li
						a(data-fancybox="gallery" href="../img/img7.png").slider__bot-items.js-group-el
							img(src="../img/img7.png")
					li
						a(data-fancybox="gallery" href="../img/img8.png").slider__bot-items.js-group-el
							img(src="../img/img8.png")
					li
						a(data-fancybox="gallery" href="../img/img5.png").slider__bot-items.js-group-el
							img(src="../img/img5.png")
					li
						a(data-fancybox="gallery" href="../img/img4.png").slider__bot-items.js-group-el
							img(src="../img/img4.png")
					li
						a(data-fancybox="gallery" href="../img/img7.png").slider__bot-items.js-group-el
							img(src="../img/img7.png")
					li
						a(data-fancybox="gallery" href="../img/img5.png").slider__bot-items.js-group-el
							img(src="../img/img5.png") 
section.hits
	.container
		include ../chunks/slider_best-works.pug