.services__best-work.best-work
	.best-work__title
		h2.h2 golden hits
		span.subtitle наши лучшие изделия
	.best-work__slider.slider
		.slider__top.js-slider-top
			div.slider_top_items
				img(src="/img/best-work1.png")
			div.slider_top_items
				img(src="/img/best-work2.png")
			div.slider_top_items
				img(src="/img/best-work2.png")
			div.slider_top_items
				img(src="/img/best-work2.png")
			div.slider_top_items
				img(src="/img/best-work2.png")
			div.slider_top_items
				img(src="/img/best-work2.png")
		.slider__bot.js-slider-bot
			.parent
				div.slider_bot_items
					img(src="/img/best-work1.png")
			.parent
				div.slider_bot_items
					img(src="/img/best-work2.png")
			.parent
				div.slider_bot_items
					img(src="/img/best-work2.png")
			.parent
				div.slider_bot_items
					img(src="/img/best-work2.png")
			.parent
				div.slider_bot_items
					img(src="/img/best-work2.png")
			.parent
				div.slider_bot_items
					img(src="/img/best-work2.png")