.start_page_bg
	.start_page
		.start_page__content
			.start_page__header
				.left_text.start_page__box
					h2.h2 рекламное агенство
					span.subtitle всё, что только можно сделать из букв
				.logo
					<a href="#"></a>
					span.logo__text рекламная группа пик
				.right_text.start_page__box
					h2.h2 творческая мастерская
					span.subtitle всё, что только может радовать вас
			.start_page__footer
				ul.box_social
					li
						a.fb(href="#")
					li
						a.skype(href="#")
					li
						a.tw(href="#")
					li
						a.inst(href="#")
					li
						a.viber(href="#")