.start_page_bg
	img.cover(src="img/start_page_bg.png")
	.start_page
		.start_page__content
			.start_page__header
				.left_text.start_page__box
					a(href="#").h2 рекламное агенство
					span.subtitle всё, что только можно сделать из букв
				.logo
					<a href="#"></a>
					span.logo__text рекламная группа пик
				.right_text.start_page__box
					a(href="#").h2 творческая мастерская
					span.subtitle всё, что только может радовать вас
			.start_page__footer
				a.btn.btn_red.btn_md.btn_order.hide оформить заказ
				.phone +38(066)1884532
				.phone.hide +38(066)1884532
				.adress Херсон, адрес, номер дома, отделение, служба 232777
				div
					ul.box_social
						li
							a.fb(href="#")
						li
							a.inst(href="#")
						li
							a.youtube(href="#")
						li
							a.tw(href="#")
						li
							a.viber(href="#")
						li
							a.msg(href="#")