// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$facebook-name: 'facebook';
$facebook-x: 0px;
$facebook-y: 0px;
$facebook-offset-x: 0px;
$facebook-offset-y: 0px;
$facebook-width: 64px;
$facebook-height: 64px;
$facebook-total-width: 220px;
$facebook-total-height: 167px;
$facebook-image: 'sprite.png';
$facebook: (0px, 0px, 0px, 0px, 64px, 64px, 220px, 167px, 'sprite.png', 'facebook', );
$google-plus-name: 'google-plus';
$google-plus-x: 128px;
$google-plus-y: 0px;
$google-plus-offset-x: -128px;
$google-plus-offset-y: 0px;
$google-plus-width: 64px;
$google-plus-height: 64px;
$google-plus-total-width: 220px;
$google-plus-total-height: 167px;
$google-plus-image: 'sprite.png';
$google-plus: (128px, 0px, -128px, 0px, 64px, 64px, 220px, 167px, 'sprite.png', 'google-plus', );
$header-place-white-name: 'header_place_white';
$header-place-white-x: 192px;
$header-place-white-y: 44px;
$header-place-white-offset-x: -192px;
$header-place-white-offset-y: -44px;
$header-place-white-width: 28px;
$header-place-white-height: 28px;
$header-place-white-total-width: 220px;
$header-place-white-total-height: 167px;
$header-place-white-image: 'sprite.png';
$header-place-white: (192px, 44px, -192px, -44px, 28px, 28px, 220px, 167px, 'sprite.png', 'header_place_white', );
$icon-fb2-name: 'icon-fb2';
$icon-fb2-x: 117px;
$icon-fb2-y: 128px;
$icon-fb2-offset-x: -117px;
$icon-fb2-offset-y: -128px;
$icon-fb2-width: 39px;
$icon-fb2-height: 39px;
$icon-fb2-total-width: 220px;
$icon-fb2-total-height: 167px;
$icon-fb2-image: 'sprite.png';
$icon-fb2: (117px, 128px, -117px, -128px, 39px, 39px, 220px, 167px, 'sprite.png', 'icon-fb2', );
$icon-insta2-name: 'icon-insta2';
$icon-insta2-x: 39px;
$icon-insta2-y: 128px;
$icon-insta2-offset-x: -39px;
$icon-insta2-offset-y: -128px;
$icon-insta2-width: 39px;
$icon-insta2-height: 39px;
$icon-insta2-total-width: 220px;
$icon-insta2-total-height: 167px;
$icon-insta2-image: 'sprite.png';
$icon-insta2: (39px, 128px, -39px, -128px, 39px, 39px, 220px, 167px, 'sprite.png', 'icon-insta2', );
$icon-skype-name: 'icon-skype';
$icon-skype-x: 128px;
$icon-skype-y: 64px;
$icon-skype-offset-x: -128px;
$icon-skype-offset-y: -64px;
$icon-skype-width: 39px;
$icon-skype-height: 39px;
$icon-skype-total-width: 220px;
$icon-skype-total-height: 167px;
$icon-skype-image: 'sprite.png';
$icon-skype: (128px, 64px, -128px, -64px, 39px, 39px, 220px, 167px, 'sprite.png', 'icon-skype', );
$icon-tw2-name: 'icon-tw2';
$icon-tw2-x: 0px;
$icon-tw2-y: 128px;
$icon-tw2-offset-x: 0px;
$icon-tw2-offset-y: -128px;
$icon-tw2-width: 39px;
$icon-tw2-height: 39px;
$icon-tw2-total-width: 220px;
$icon-tw2-total-height: 167px;
$icon-tw2-image: 'sprite.png';
$icon-tw2: (0px, 128px, 0px, -128px, 39px, 39px, 220px, 167px, 'sprite.png', 'icon-tw2', );
$icon-vb-loc-name: 'icon-vb-loc';
$icon-vb-loc-x: 192px;
$icon-vb-loc-y: 0px;
$icon-vb-loc-offset-x: -192px;
$icon-vb-loc-offset-y: 0px;
$icon-vb-loc-width: 28px;
$icon-vb-loc-height: 44px;
$icon-vb-loc-total-width: 220px;
$icon-vb-loc-total-height: 167px;
$icon-vb-loc-image: 'sprite.png';
$icon-vb-loc: (192px, 0px, -192px, 0px, 28px, 44px, 220px, 167px, 'sprite.png', 'icon-vb-loc', );
$icon-viber2-name: 'icon-viber2';
$icon-viber2-x: 78px;
$icon-viber2-y: 128px;
$icon-viber2-offset-x: -78px;
$icon-viber2-offset-y: -128px;
$icon-viber2-width: 39px;
$icon-viber2-height: 39px;
$icon-viber2-total-width: 220px;
$icon-viber2-total-height: 167px;
$icon-viber2-image: 'sprite.png';
$icon-viber2: (78px, 128px, -78px, -128px, 39px, 39px, 220px, 167px, 'sprite.png', 'icon-viber2', );
$icon-piplle-name: 'icon_piplle';
$icon-piplle-x: 192px;
$icon-piplle-y: 72px;
$icon-piplle-offset-x: -192px;
$icon-piplle-offset-y: -72px;
$icon-piplle-width: 27px;
$icon-piplle-height: 28px;
$icon-piplle-total-width: 220px;
$icon-piplle-total-height: 167px;
$icon-piplle-image: 'sprite.png';
$icon-piplle: (192px, 72px, -192px, -72px, 27px, 28px, 220px, 167px, 'sprite.png', 'icon_piplle', );
$icon-tel-name: 'icon_tel';
$icon-tel-x: 192px;
$icon-tel-y: 100px;
$icon-tel-offset-x: -192px;
$icon-tel-offset-y: -100px;
$icon-tel-width: 27px;
$icon-tel-height: 27px;
$icon-tel-total-width: 220px;
$icon-tel-total-height: 167px;
$icon-tel-image: 'sprite.png';
$icon-tel: (192px, 100px, -192px, -100px, 27px, 27px, 220px, 167px, 'sprite.png', 'icon_tel', );
$instagram-name: 'instagram';
$instagram-x: 64px;
$instagram-y: 64px;
$instagram-offset-x: -64px;
$instagram-offset-y: -64px;
$instagram-width: 64px;
$instagram-height: 64px;
$instagram-total-width: 220px;
$instagram-total-height: 167px;
$instagram-image: 'sprite.png';
$instagram: (64px, 64px, -64px, -64px, 64px, 64px, 220px, 167px, 'sprite.png', 'instagram', );
$linkedin-name: 'linkedin';
$linkedin-x: 0px;
$linkedin-y: 64px;
$linkedin-offset-x: 0px;
$linkedin-offset-y: -64px;
$linkedin-width: 64px;
$linkedin-height: 64px;
$linkedin-total-width: 220px;
$linkedin-total-height: 167px;
$linkedin-image: 'sprite.png';
$linkedin: (0px, 64px, 0px, -64px, 64px, 64px, 220px, 167px, 'sprite.png', 'linkedin', );
$twitter-name: 'twitter';
$twitter-x: 64px;
$twitter-y: 0px;
$twitter-offset-x: -64px;
$twitter-offset-y: 0px;
$twitter-width: 64px;
$twitter-height: 64px;
$twitter-total-width: 220px;
$twitter-total-height: 167px;
$twitter-image: 'sprite.png';
$twitter: (64px, 0px, -64px, 0px, 64px, 64px, 220px, 167px, 'sprite.png', 'twitter', );
$spritesheet-width: 220px;
$spritesheet-height: 167px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($facebook, $google-plus, $header-place-white, $icon-fb2, $icon-insta2, $icon-skype, $icon-tw2, $icon-vb-loc, $icon-viber2, $icon-piplle, $icon-tel, $instagram, $linkedin, $twitter, );
$spritesheet: (220px, 167px, 'sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(../img/pngsprite/#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
