.section-blog{
	.items-wrap{
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: space-between;
	}
	.item{
		width: 50%;
		max-width: 428px;
		padding: 22px 15px 27px 0;
		&__title{
			a{
				color: #000;
				// font-size: 16px;
				padding: 15px 0;
				letter-spacing: 1px;
				display: block;
			}
		}
		&__subtitle{
			font-family: 'corbelb', Arial, sans-serif;
			font-size: 16px;
			color: #222222;
			letter-spacing: 1px;
		}
		&__text{
			p{
				color: #222;
				margin-bottom: 18px;
			}
		}
		.btn_lg{
			padding: 11px 45px;
		}
	}
	.sidebar_blog{
		padding-top: 22px;
	}
	.box{
		margin-bottom: 20px;
	}
}
@media screen and (max-width: 1125px){
	.section-blog{
		.item{
			&__title{
				font-size: 24px;
				padding: 11px 0;
			}
			.btn_lg{
				font-size: 15px;
			}
		}
	}
}
@media (max-width: 544px){
	.section-blog{
		.item{
			padding: 15px 0px 15px 0;
			max-width: 100%;
			width: 100%;
			&__title{
				font-size: 20px;
				padding: 10px 0 5px;
			}
			.btn_lg{
				padding: 11px 35px;
				font-size: 14px;
			}
		}
	}
}
@media (min-width: 1349px){
	.section-blog {
		.item{
			padding: 22px 15px 50px 0;
			.btn_lg{
				padding: 11px 55px;
			}
			&__title{
				font-size: 37px;
			}
			&__subtitle{
				font-size: 22px;
				padding: 5px 0 0;
			}
			&__text{
				font-size: 18px;
			}
		}
	}
}