.wrap-contact{
	padding-bottom: 52px;
	line-height: 1.9;
	#map{
		height: 472px;
		width: 100%;
	}
}
.contact{
	padding-top: 22px;
	.h3{
		border-bottom: 1px solid #E5E5E5;
		clear: both;
		font-size: 18px;
		margin: 0 0 24px;
		padding: 24px 0 12px;
		font-weight: 100;
		font-family: 'corbel', Arial, sans-serif;
		text-transform: capitalize;
	}
	&__img{
		max-width: 1207px;
		margin: 24px auto 24px;
		// padding: 0 20px;
		border: 2px solid #333;
		border-radius: 2px;
	}
	.jicons-text {
		color: #444;
		font-weight: 500;
		display: block;
		text-transform: uppercase;
	}
	&__contactinfo{
		div{
			float: left;
			margin: 0 39px 0 0;
		}
		a{
			color: #161616;
		}
	}
	&__address{
		address{
			font-style: normal;
		}
	}
	.contact__address, .contact__contactinfo{
		clear: both;
		float: left;
		margin: 0 69px 24px 0;
	}
	&__form{
		clear: both;
		legend{
			color: #999;
			font-size: 13px;
			margin: 0 0 24px;
			font-weight: 500;
		text-transform: uppercase;
		}
		dl{
			float: left;
			width: 50%;
			margin-bottom: 15px;
		}
		dt{
			clear: both;
		}
		label{
			color: #111;
			font-size: 14px;
			font-weight: 500;
			padding: 0 6px 0 0;
		}
		input{
			margin: 6px 0 0;
			width: 80%;
		}
		dd{
			label{
				display: inherit;
				color: red;
			}
		}
		dt.inline, dd.inline {
			display: inline-block!important;
			float: left!important;
			width: auto!important;
		}
		.checkbox{
			margin-left: 10px;
		}
		textarea {
			height: 202px;
			width: 100%;
		}
		.btn.validate{
			clear: both;
			margin: 20px 0 0 0;
		}
		.btn{
			font-size: 14px;
		}
	}
}
.invalid{
	background: #fffef4;
	border: 1px solid #e25527!important;
}
body, body input, body textarea, body select, h1, h2, h3, h4, h5, h6{
	font-family: 'corbel', Arial, sans-serif;
}
@media(max-width: 620px){
	.contact{
		.contact__form {
			input{
				width: 95% !important;
			}
			dl {
				float: left;
				width: 100%;
			}
		}	
	}
}
@media (min-width: 1349px){
	.wrap-contact{
		.container{
			max-width: 1200px;
		}
		.contact{
			&__form{
				label{
					font-size: 17px;
				}
			}
			&__addres{
				font-size: 20px;
			}
			&__img{
				max-width: 1207px;
				margin: 64px auto 37px;
			}
			.h3{
				font-size: 24px;
			}
		}
	}
}