.footer{
	background-color: #dadad9;
	padding: 10px 0 30px;
	.banner{
		padding-top: 7px;
		display: flex;
		flex-direction: column;
		font-family: Arial, sans-serif;
    font-size: 12px;
    color: #414141;
    padding-left: 18px;
    padding-right: 22px;
	}
	&__nav{
		display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
		li{
			padding: 5px 25px;
			a{
				color: #000;
				font-size: 12px;
				font-family: 'HelveticaNeue-Medium', Arial, sans-serif;
			}
		}
		li:last-child{
			padding-right: 0;
		}
	}
}
.flex-row_start{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
@media (max-width: 1040px){
	.footer{
		&__nav{
			li{
				padding: 5px 20px;
				&:last-child{
					padding-right: 20px;
				}
			}
		}
	}
}
@media (max-width: 998px){
	.footer{
		.logo{
			padding-left: 5px;
		}
		.banner{
			padding: 7px 15px 0;
		}
		&__nav{
			justify-content: flex-end;
			li{
				padding: 5px 15px;
				&:last-child{
					padding-right: 15px;
				}
			}
		}
	}
}
@media (max-width: 480px){
	.footer{
		.banner{
			padding: 7px 5px 0 10px;
			min-width: 55%;
		}
	}
}
@media (max-width: 426px){
	.footer{
		.banner{
			min-width: 46%;
		}
	}
}