a.btn_order{
	padding: 10px 12px;
}
.section-gallery{
	.gallery{
		margin-bottom: 41px;
		&__slider{
			width: 100%;
			height: 455px;
		}
		&__item{
			height: 455px;
			float: left;
			background-size: cover;
			position: relative;
			img{
				position: absolute;
				margin: auto;
				left: 0;
				top: 0;
				bottom: 0;
				right: 0;
			}
		}
	}

	.slick-arrow{
		padding: 75px 7px;
		background-color: rgba(31, 30, 30, 0.31);
	}
	.btn-next.slick-disabled .arrow-right:before, .btn-prev.slick-disabled .arrow-left:before{
		opacity: 0.5;
	}
	.arrow-right{
		position: relative;
		height: 15px;
		width: 15px;
	}
	.arrow-right:before{
		content: '';
		background-image: url(../img/arrow_white.png);
		height: 41px;
		width: 21px;
		background-size: 21px;
		display: block;
	}
	.arrow-left:before{
		content: '';
		background-image: url(../img/arrow_white.png);
		transform: rotate(180deg);
		height: 41px;
		width: 21px;
		background-size: 21px;
		display: block;
	}
	.btn-next, .btn-prev{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 10;
		cursor: pointer;
	}
	.btn-next{
		right: 0px;
	}
	.btn-prev{
		left: 0px;
	}
}
.gallery__slider-nav{
	.slick-list{
		width: 75%;
		margin: 0 auto;
	}
	.slick-track{
		margin: 0 auto !important;
	}
	.slick-slide{
		max-width: 186px !important;
		margin: 5px;
		height: 125px;
		display: flex;
		align-items: center;
	}
}
@media (max-width: 991px){
	.section-gallery{
		.gallery{
			margin-bottom: 41px;
			&__slider{
				height: 315px;
			}
			&__item{
				height: 315px;
			}
		}
	}
}
@media (max-width: 768px){
	.section-gallery{
		.gallery{
			margin-bottom: 0px;
			&__slider{
				height: 400px;
			}
			&__item{
				height: 400px;
			}
		}
		.sidebar{
			padding-top: 40px;
			padding-bottom: 15px;
			.btn_order{
				float: left;
				clear: left;
			}
		}
	}
	.sidebar:after{
		content: "";
		display: table;
		clear: both;
	}
	.section-gallery .slick-arrow{
		padding: 45px 7px;
	}
}
@media (max-width: 600px){
	.section-gallery{
		.gallery{
			margin-bottom: 0px;
			&__slider{
				height: 315px;
			}
			&__item{
				height: 315px;
			}
		}
	}
}
@media (max-width: 480px){
	.section-gallery{
		.gallery{
			&__slider{
				height: 264px;
			}
			&__item{
				height: 264px;
			}
		}
	}
	.section-gallery .slick-arrow{
		padding: 15px 7px;	
	} 
	.section-gallery .arrow-right:before, .section-gallery .arrow-left:before{
		width: 15px;
		background-size: 15px;
		height: 28px;
	}
	.sidebar{
		padding-top: 0;
	}
}
@media (max-width: 420px){
	.section-gallery{
		.gallery{
			&__slider{
				height: 185px;
			}
			&__item{
				height: 185px;
			}
		}
	}
}