.header_main-wrapper{
	header.header{
		background-color: #d4d5d5;
		padding: 0;
		.wrap-nav{
			padding: 6px 0;
		}
		.nav{
			padding-top: 0;
		}
		.logo{
			a{
				height: 42px;
				width: 46px;
				&:before{
					background-size: 47px;
				}
			}
		}
	}
	
}
.flex-row{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.flex-column{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.logo{
	a{
    display: block;
    position: relative;
    height: 48px;
    width: 53px;
		&:before{
			content: '';
			background-image: url("../img/logo_header.png");
			background-size: 54px;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}
		float: left;
		padding-left: 15px;
}
header.header{
	background-color: #f0e5c7;
	padding: 7px 0;
}
.nav{
	text-align: center;
	padding-top: 7px;
	font-size: 0;
	li{
		list-style-type: none;
		display: inline-block;
		padding: 15px 2.5%;
		font-size: 12px;
		a{
			color: #000;
			text-decoration: none;
			text-transform: uppercase;
			font-weight: bold;
			transition: all 0.3s ease-out;
			font-family: 'HelveticaNeue-Medium', Arial, sans-serif;
		}
		a:hover{
			color: #ff0000;
		}
		a.active{
			color: #ff0000;
		}
	}
}
