.section_article{
	background-color: #e3e3e3;
}
.bg_container{
	background-color: #fff;
	padding: 70px 0 35px;
	position: relative;
}
.main-article{
	padding-left: 15%;
	position: relative;
	&__img{
		margin: 45px 0;
		overflow: hidden;
		img{
			opacity: 1;
			transition: all .14s linear;
			width: 100%!important;
		}
		img:hover{
			transform: scale(1.2);
			opacity: 0.85;
		}
	}
	&__date{
		display: block;
		position: absolute;
		left: 0;
		text-transform: uppercase;
		font-size: 18px;
		font-family: 'HelveticaNeue-Thin', Arial, sans-serif;
		color: #e3e3e3;
		background-color: #222222;
		padding: 15px;
	}
	&__title{
		font-size: 53px;
		color: #000;
		font-weight: 100;
	}
	&__addition{
		padding-top: 5px;
		font-size: 20px;
		font-family: 'corbelb', Arial, sans-serif;
	}
	&__subtitle{
		font-size: 24px;
		letter-spacing: inherit;
		font-family: 'corbelb', Arial, sans-serif;
		color: #222222;
	}
	&__text{
		p{
			font-size: 18px;
			padding: 15px 0;
			font-weight: 100;
			letter-spacing: inherit;
		}
	}
	&__h3{
		font-family: 'corbel', Arial, sans-serif;
		font-size: 36px;
		font-weight: 100;
		color: #222222;
		margin-bottom: 25px;
	}
	p.numblocks{
		margin: 0 0 24px;
		min-height: 48px;
		padding: 0 0 0 15% !important;
		position: relative;
		span{
			border-right: 2px solid #ccc;
			display: block;
			font-size: 24px;
			font-weight: 500;
			height: 100%;
			left: 0;
			line-height: 36px;
			position: absolute;
			top: 4px;
			width: 48px;
		}
	}
	p.num-3 {
		span{
			color: #E74C3C;
			border-color: #E74C3C;
		}
	}
}
.color_red{
	color: #e30613;
}
.sidebar_blog{
	.box{
		margin-bottom: 27px;
		max-width: 200px;
	}
}
@media (max-width: 991px){
	.main-article__date{
		padding: 10px;
		font-size: 16px;
	}
}
@media (max-width: 767px){
	.sidebar_blog{
		.box{
			max-width: 100%;	
		}
	}
	.main-article__date{
		top: -39px;
	}
	.main-article{
		padding-left: 0;
	}
}
@media (max-width: 620px){

	.main-article{
		&__subtitle{
			font-size: 18px;
		}
		&__h3{
			font-size: 30px;
			margin-bottom: 15px;
		}
		&__img{
			margin: 30px 0;
		}
		&__text{
			p{
				font-size: 16px;
				padding: 5px 0;
			}
		}
		&__addition{
			font-size: 18px;
		}
		p.numblocks{
			margin: 0 0 15px;
			padding: 0 0 0 11% !important;
			span{
				width: 35px;
			}
		}
	}
}
@media screen and (max-width: 544px){
	.main-article{
		&__h3{
			font-size: 26px;
		}
		p.numblocks{
			padding: 0 0 0 45px !important;
		}
	}
}
@media (min-width: 1349px){
	.section_article{
		.container{
			max-width: 1600px;
		}
		.main-article{
			padding-right: 10%;
			p.numblocks{
				line-height: 1.5;
				font-size: 17px;
			}
			&__subtitle{
				line-height: 1.5;
			}
			&__text{
				p{
					font-size: 19px;
					line-height: 1.5;
				}
			}
		}
	}
	.box{
		max-width: 239px;
		.search input{
			font-size: 16px;
			height: 40px;
		}
		.header{
			font-size: 26px;
		}
		ul{
			li{
				a{
					font-size: 17px;
				}
			}
		}
	}
}