@font-face {
	font-family: 'HelveticaNeue';
	src: url('../css/fonts/HelveticaNeue/HelveticaNeue.eot');
	src: local('O'),
	url('../css/fonts/HelveticaNeue/HelveticaNeue.woff') format('woff'),
	url('../css/fonts/HelveticaNeue/HelveticaNeue.woff2') format('woff2'),
	url('../css/fonts/HelveticaNeue/HelveticaNeue.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'HelveticaNeue-Bold';
	src: url('../css/fonts/HelveticaNeue/HelveticaNeue-Bold.eot');
	src: local('O'),
	url('../css/fonts/HelveticaNeue/HelveticaNeue-Bold.woff') format('woff'),
	url('../css/fonts/HelveticaNeue/HelveticaNeue-Bold.woff2') format('woff2'),
	url('../css/fonts/HelveticaNeue/HelveticaNeue-Bold.ttf') format('ttf');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'HelveticaNeue-CondensedRegular';
	src: url('../css/fonts/HelveticaNeue/HelveticaNeue-CondensedRegular.eot');
	src: local('O'),
	url('../css/fonts/HelveticaNeue/HelveticaNeue-CondensedRegular.woff') format('woff'),
	url('../css/fonts/HelveticaNeue/HelveticaNeue-CondensedRegular.woff2') format('woff2'),
	url('../css/fonts/HelveticaNeue/HelveticaNeue-CondensedRegular.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'HelveticaNeue-Medium';
	src: url('../css/fonts/HelveticaNeue/HelveticaNeue-Medium.eot');
	src: local('O'),
	url('../css/fonts/HelveticaNeue/HelveticaNeue-Medium.woff') format('woff'),
	url('../css/fonts/HelveticaNeue/HelveticaNeue-Medium.woff2') format('woff2'),
	url('../css/fonts/HelveticaNeue/HelveticaNeue-Medium.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'HelveticaNeue-Thin';
	src: url('../css/fonts/HelveticaNeue-Thin.eot');
	src: local('O'),
	url('../css/fonts/HelveticaNeue/HelveticaNeue-Thin.woff') format('woff'),
	url('../css/fonts/HelveticaNeue/HelveticaNeue-Thin.woff2') format('woff2'),
	url('../css/fonts/HelveticaNeue/HelveticaNeue-Thin.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}

// corbel
@font-face {
	font-family: 'corbel';
	src: url('../css/fonts/corbel/corbel.eot');
	src: local('O'),
	url('../css/fonts/corbel/corbel.woff') format('woff'),
	url('../css/fonts/corbel/corbel.woff2') format('woff2'),
	url('../css/fonts/corbel/corbel.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'corbelb';
	src: url('../fonts/corbel/corbelb.eot');
	src: local('O'),
	url('../css/fonts/corbel/corbelb.woff') format('woff'),
	url('../css/fonts/corbel/corbelb.woff2') format('woff2'),
	url('../css/fonts/corbel/corbelb.ttf') format('ttf');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'corbeli';
	src: url('../css/fonts/corbel/corbeli.eot');
	src: local('O'),
	url('../css/fonts/corbel/corbeli.woff') format('woff'),
	url('../css/fonts/corbel/corbeli.woff2') format('woff2'),
	url('../css/fonts/corbel/corbeli.ttf') format('ttf');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'corbelz';
	src: url('../css/fonts/corbel/corbelz.eot');
	src: local('O'),
	url('../css/fonts/corbel/corbelz.woff2') format('woff2'),
	url('../css/fonts/corbel/corbelz.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}