.wrap-title{
	background-color: #f0e5c7;
	background-image: url(../img/header_bg.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: inherit;
	position: relative;
}
.wrap-title:before{
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	opacity: 0.9;
	background-color: #f0e5c7;
}
.h1{
	font-size: 54px;
	font-weight: 400;
	text-transform: uppercase;
	font-family: 'HelveticaNeue-Thin', Arial, sans-serif;
	position: relative;
	padding-top: 15px;
	padding-left: 30px;
}
.h2{
	color: #353535;
	font-size: 45px;
	text-transform: uppercase;
	font-family: 'HelveticaNeue-Thin', Arial, sans-serif;
}
.services_bg{
	background: rgba(242,233,208,1);
	background: -moz-linear-gradient(top, rgba(242,233,208,1) 0%, rgba(242,233,208,1) 27%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(242,233,208,1)), color-stop(27%, rgba(242,233,208,1)), color-stop(80%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top, rgba(242,233,208,1) 0%, rgba(242,233,208,1) 27%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top, rgba(242,233,208,1) 0%, rgba(242,233,208,1) 27%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(242,233,208,1) 0%, rgba(242,233,208,1) 27%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(242,233,208,1) 0%, rgba(242,233,208,1) 27%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2e9d0', endColorstr='#ffffff', GradientType=0 );
}
.services{	
	&__group{
		padding-top: 25px;
		max-width: 1389px;
		margin: 0 auto;
		ul{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			li{
				list-style-type: none;
			}
		}
		.item.revers{
			flex-direction: row-reverse;
			&__title{
				text-align: right;
			}
		}
	}
	&__btn{
		text-align: center;
		padding: 35px 0 52px;
	}
	.item{
		display: flex;
		flex-direction: row;
		justify-content: center;
		text-decoration: none;
		color: #000;
		font-weight: 700;
		background-color: #fff;
		transition-duration: .5s;
		a{
			transition: all .3s ease-out;
			display: block;
			width: 100%;
		}
		div{
			width: 139px;
		}
		&__title{
			font-family: "HelveticaNeue-Thin", Arial, sans-serif;
			font-size: 16px;
			text-transform: uppercase;
			padding: 10px;
			letter-spacing: 1px;
			transition: all .3s ease-out;
			word-wrap: break-word;
		}
	}
	.item:hover{
		img{
			color: #fff!important;
		}
		.item__title{
			color: #fff;
			background-color: #ee0000;
		}
		.item__img{
			background-color: #fff;
		}
	}
	.item__img:hover{
		a{
			opacity: 0.75;
		}
	}
}
.btn{
	cursor: pointer;
	font-size: 16px;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	// height: 38px;
	padding: 10px 15px;
	text-align: center;
	font-weight: 400;
	background-color: #e74c3c;
	// line-height: 39px;
	border: 1px solid transparent;
	transition: all .3s ease-out;
	font-family: "HelveticaNeue-Medium", Arial, sans-serif;
}
.btn:hover{
	// background: #fff;
	// color: #000;
	// border: 1px solid #363636;
	background: #000;
	color: #fff!important;
}
.btn_lg{
	padding: 15px 45px;
}
.btn_red{
	background-color: #ee0000;
}
.btn_md{
	padding: 10px 15px;
}
@media screen and (max-width: 1300px){
	.services{
		.item{
			width: 33.33%;
			div{
				width: 50%;
			}
		}
	}
}
@media screen and (max-width: 1125px){
	.services {
		.item__title{
				font-size: 15px;
		}
	}
	.services__btn {
		padding: 18px 0 41px;
	}
	.h1{
		font-size: 48px;
	}
	.h2{
		font-size: 39px;
	}
	.best-work__title{
		padding-top: 42px;
		padding-bottom: 35px; 
	}
	.subtitle{
		font-size: 15px;
	}
}
@media screen and (max-width: 992px){
	.services{
		.item__title{
				font-size: 14px;
		}
	}
	.btn_lg {
		padding: 12px 42px;
	}
	.h1{
		font-size: 42px;
		padding-left: 10px;
	}
	.h2{
		font-size: 32px;
	}
	.subtitle{
		font-size: 15px;
	}
	.best-work__title {
		padding-top: 35px;
		padding-bottom: 15px;
	}
}
@media screen and (max-width: 768px){
	.services {
		.item{
			width: 50%;
		}
		.item__title{
			font-size: 12px;		
		}
	}
	.btn_lg {
		padding: 10px 36px;
	}
	.btn{
		font-size: 16px;
	}
	.services__btn {
		padding: 10px 0 36px;
	}
	.h1{
		font-size: 39px;
	}
	.h2{
		font-size: 33px;
	}
	.subtitle {
		font-size: 13px;
	}
	.best-work__title {
		padding-top: 27px;
		padding-bottom: 13px;
	}
}
@media screen and (max-width: 544px){
	.services {
		.item{
			&__img{
				max-width: 135px;
			}
		}
		.item__title{
			font-size: 12px;		
		}
	}
	.btn {
		font-size: 15px;
	}
	.h1 {
		font-size: 34px;
	}
	.h2{
		font-size: 30px;
	}
	.subtitle {
		font-size: 12px;
	}
	.best-work__title {
		padding-top: 20px;
		padding-bottom: 10px;
	}
}
@media screen and (max-width: 480px){
	.services__btn {
		padding: 12px 0 30px;
	}
	.btn{
		font-size: 14px;
	}
	.services {
		.item{
			width: 100%;
		}
	}
}