.main_slider{
	.slider__item{
		position: relative;
		cursor: pointer;
		z-index: 1;
		&:before{
			content: "";
			position: absolute;
			display: block;
			background-position: center;
			background-size: cover;
			top: 0;
			height: 100%;
			width: 100%;
		}
	}
	.first_img{
		&:before{
			background-image: url("../img/main_slider1.png");
		}
	}
	.first_img2{
		&:before{
			background-image: url("../img/main_slider2.png");
		}
		.item__contact{
			padding-top: 188px;
		}
	}
	.item{
		&__inner{
			position: relative;
			z-index: 2;
			padding-top: 26px;
			padding-bottom: 60px;
		}
		&__title{
			max-width: 325px;
			margin-bottom: 135px;
			position: relative;
			border-left: 10px solid #d2a26f;
			padding-left: 42px;
			transition: all .3s ease-out;
			// transform: translateX(-10%);
			// opacity: 0;
			filter: alpha(opacity=0);
			.h2{
				color: #7d7d7d;
				font-family: 'HelveticaNeue-Medium', Arial, sans-serif;
				font-weight: normal;
				letter-spacing: -2px;
			}
			&:before{
				position: absolute;
				content: '';
				width: 0;
				height: 0;
				left: 12px;
				top: 7px;
				border-style: solid;
				border-width: 19.5px 0 19.5px 18px;
				border-color: transparent transparent transparent #ffffff;
			}
			.subtitle{
				text-transform: uppercase;
				padding-top: 15px;
				max-width: 115px;
				display: block;
				font-size: 12px;
				font-family: 'HelveticaNeue-Medium', Arial, sans-serif;
			}
		}
		&__contact{
			padding-top: 135px;
			.phone{
				font-family: 'HelveticaNeue-Medium', Arial, sans-serif;
				font-size: 23px;
				color: #7d7d7d;
				padding-bottom: 25px;
				letter-spacing: 0.5px;
				position: relative;
				&:before{
					content: '';
					display: block;
					position: absolute;
					top: -35px;
					left: -4px;
					height: 32px;
					width: 21px;
					background-image: url(../img/pngsprite/sprite.png);
					background-position: -311px -57px;
					background-size: 170px;
				}
			}
		}
	}
	// .slick-slide{
	// 	transition: opacity 1500ms ease !important;
	// }
	// .slick-list{
	// 	height: 100%;
	// }
	// .slider__item.slick-active{
	// 	.item{
	// 		&__title{
	// 			transform: translateX(0%); 
	// 			filter: alpha(opacity=100);
	// 			opacity: 1;
	// 		}
	// 	}
	// }
}
.h2_main{
	font-family: 'HelveticaNeue-Medium', Arial, sans-serif;
	font-size: 40px;
	text-transform: uppercase;
	color: #1d0000;
	font-weight: normal;
	padding: 40px 0 40px 20px;
	position: relative;
	&:before{
		content: '';
		display: block;
		top: 50px;
		width: 10px;
		height: 30px;
		position: absolute;
		left: 0;
		background-color: #d2a26f
	}
}
.box_social{
	position: absolute;
	right: 0;
	top: 50px;
	li{
		margin: 10px;	
		a{
			position: relative;
			display: block;
			transition: all .3s ease-out;
			&:before{
				content: '';
				display: block;
				height: 39px;
				width: 39px;
				background-image: url(../img/pngsprite/sprite.png);
			}
			&:hover{
				opacity: 0.8;
			}
		}
		.fb:before{
			background-position: 39px 162px;
		}
		.skype:before{
			background-position: 39px 200px;
		}
		.tw:before{
				background-position: 185px 72px;
		}
		.inst:before{
			background-position: 146px 73px;
		}
		.viber:before{
			background-position: 107px 73px
		}
	}
}
.border{
	border-left: 1px solid #222222;
	border-right: 1px solid #222222;
	padding-top: 1px;
}
.main_services{
	padding-top: 8px;
	padding-bottom: 75px;
	.services__group{
		padding: 0 25px;
	}
	.item{
		&__title{
			border: 1px solid #d9d9d9;
			transition: all .3s ease-out;
		}
	}
	.item:hover{
		.item__title{
			border-color: #ee0000;
		}
	}
}
.clients{
	padding: 1px 0;
	background-color: #f7f5f5;
	.item{
		cursor: pointer;
		height: 69px;
		width: 147px;
		display: flex;
		align-items: center;
		margin: 5px;
		justify-content: center;
	}
	&__items{
		margin-bottom: 60px;
	}
}
.flex-row-rewers{
	display: flex;
	flex-direction: row-reverse;
}
.new{
	margin-bottom: 15px;
	.grid-wrap{
		position: relative;
		display: flex;
		flex-direction: row;
		border: 1px solid #dbdbdb;
		border-left: none;
		border-right: none;
		.art{
			&:hover{
				background: #e74c3c;
				.info1 a, .info2, .art__text, .art__header a{
					color: #fff!important;
				}
				.art__img{
					background-color: #fff !important; 
				}
			}
			&__wrap{
				box-sizing: border-box;
				overflow: hidden;
				padding: 24px 17px;
				width: 33.333333%;
			}
			&__img{
				position: relative;
				width: 66.6%;
				text-align: left;
				display: block;
				overflow: hidden;
				transition: color 0.2s linear;
				&:after{
					border: 17px solid #fff;
					border-top-color: transparent;
					border-left-color: transparent;
					border-bottom-color: transparent;
					content: "";
					display: block;
					right: 0px;
					position: absolute;
					top: 8%;
				}
				img{
					width: 100%;
				}
				&:hover{
					img{
						opacity: 0.75;
					}
				}
			}
			&__info{
				font-size: 12px;
				font-weight: 500;
				margin: 0 0 10px 0;
				padding: 0;
				color: #aaa;
				display: block;
				text-transform: uppercase;
			}
			&__header{
				margin-bottom: 32px;
				text-transform: uppercase;
				a{
					color: #000;
					font-size: 28px;
					font-weight: 600;
					line-height: 1.1;
					padding: 0;
					font-family: "HelveticaNeue-Thin", Arial, sans-serif;
				}
			}
			&__text{
				color: #999;
				font-size: 12px;
				line-height: 1.4;
				margin: 0;
				padding: 0!important;
				font-family: "HelveticaNeue-Thin", Arial, sans-serif;
			}
			.info1 {
				a{
					color: #e74c3c;
				}
			}
			.info2{
				font-family: "HelveticaNeue-Thin", Arial, sans-serif;
				border-top: 1px solid #e5e5e5;
				border-bottom: 1px solid #e5e5e5;
				display: block;
				font-size: 11px;
				margin: 0 -24px 32px -24px;
				padding: 4px 24px;
				text-transform: uppercase;
			}
			* {
				transition: all .3s ease-out;
			}
		}
		.col2{
			.art{
				display: flex;
				flex-direction: row;
				border-left: 1px solid #dbdbdb;
				height: 100%;
				&__img{
					width: 50%;
					&:after{
						display: none;
					}
					img{
						width: 100%;
						height: 100%;
					}
				}
				&__wrap{
					width: 50%;
					position: relative;
				}
				.info2{
					position: absolute;
					bottom: 0;
					margin: 0;
					left: 0;
					right: 0;
					border-bottom: none;
				}
			}
		}
		.grid-elem{
			box-sizing: border-box;
			filter: alpha(opacity=0);
			overflow: hidden;
			transition-property: all;
			transition-timing-function: cubic-bezier(.31,.77,.46,.92);
			z-index: 1;
		}		
	}
	.col_big{
		width: 100%;
		display: flex;
	}
	.col1{
		height: 100%;
		width: 66.666666666667%;
	}
	.col2{
		height: 100%;
		width: 33.333333333333%;
		display: flex;
		flex-direction: column;
	}
	.artPage{
		>div{
			width: 50%;
		}
	}
}
.services_more{
	&__wrap{
		padding-bottom: 144px;
		position: relative;
	}
	&__item{
		display: block;
		cursor: pointer;
		width: 20%;
		padding: 0px 37px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	
	&__img{
		border-radius: 50%;
		overflow: hidden;
		position: relative;
		&:before{
			position: absolute;
			content: '';
			right: 0;
			left: 0;
			bottom: 0;
			top: 0;
			background: #fff;
			opacity: 0;
			transition: all .3s ease-out;
		}
	}
	&__item:hover{
		.services_more__img{
			&:before{
				opacity: 0.5;
			}
		}
	}
	&__title{
		min-height: 66px;
		color: #000;
		font-family: "HelveticaNeue-Thin", Arial, sans-serif;
		text-transform: uppercase;
		padding-top: 20px;
		font-size: 16px;
	}
}
.wrap-section-nav{
	position: absolute;
	bottom: 40px;
	left: 50%;
	transform: translateX(-50%);
}
.icon_section-nav:hover{
	&:after{
		color: #c6c6c6;
		border-color: #c6c6c6;
	}
}
.icon_section-nav{
	position: relative;
	display: block;
	height: 50px;
	width: 50px;
	&:after{
		border-radius: 50%;
		border: 1px solid #e74c3c;
		color: #E74C3C;
		content: "\f107";
		display: block;
		font-family: 'Fontawesome';
		font-size: 24px;
		font-weight: 400;
		height: 48px;
		line-height: 50px;
		text-align: center;
		transition: all .3s ease-out;  
	}
}
.info-grafic{
	background-color: #e3e3e3;
	padding-top: 1px;
	position: relative;
	z-index: 2;
	.img-man{
		position: relative;
		&:before{
			content: '';
			background-image: url(../img/img_man.png);
			width: 250px;
			display: block;
			height: 354px;
			background-size: 250px;
			position: absolute;
			left: 140px;
			top: 36px;
		}
	}
	.text_bottom{
		font-size: 12px;
		max-width: 210px;

	}
	.text_top{
		font-family: 'HelveticaNeue-Medium', Arial, sans-serif;
		font-size: 14px;
		text-transform: uppercase;
		font-weight: bold;
	}
	&__content{
		display: flex;
		flex-direction: row;
	}
	&__wrap{
		position: relative;
		overflow: hidden;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-right: 15px;
		padding-top: 30px;
		padding-bottom: 20px;
		&:after{
			content: '';
			z-index: 1;
			display: block;
			position: absolute;
			border-bottom: 832px solid rgba(241, 219, 155, 0.67);
			border-left: 690px solid transparent;
			border-right: 635px solid transparent;
			transform: rotate(-44deg);
			height: 0;
			width: 1012px;
			left: -19%;
			top: -47%;
		}
		>*{
			z-index: 2;
		}
		.img{
			width: 100%;
			text-align: right;

			img{
				z-index: 3;
				max-width: 486px;
			}
		}
	}
	&__box{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-end;
		max-width: 445px;
		padding-right: 10px;
	}
	.h2_main{
		max-width: 225px;
		margin: 0;
		padding-top: 0;
		&:before{
			top: 9px;
		}
	}
}
.main_gallery{
	position: relative;
	background-size: auto auto;
	z-index: 1;
	&__content{
		margin-top: 280px;
		padding-bottom: 100px;
	}
	&__content_main-ra{
		margin-top: 190px;
	}
	&__subtext{
		text-transform: uppercase;
		padding: 0 20px;
		font-family: 'HelveticaNeue-Medium', Arial, sans-serif;
		font-size: 14px;
		max-width: 980px;
		font-weight: bold;
		position: relative;
	}
	.wrap-section-nav_top{
		top: -35%;
		bottom: inherit;
	}
	.wrapper-gallery{
		position: relative;
	}
	.gallery-block{
		background: none;
		.gallery {
			ul{
				max-width: 1179px;
				justify-content: center;
				li{
					max-width: 198px;
					margin: 0;
				}
			}
		}
	}
}
section{
	position: relative;
	z-index: 2;
}
.main_gallery_bg{
	background-attachment: fixed!important;
	background: #fff url(../img/main_bg-section.png) no-repeat center center;
	bottom: 0;
	height: 960px;
	position: absolute;
	width: 100%;
	opacity: 0.5;
	z-index: 0;
	left: 0;
	&:before{
		background: #fff;
		content: "";
		height: 500px;
		position: absolute;
		top: -300px;
		transform: skewY(12deg);
		width: 100%;
	}
	&:after{
		bottom: -175px;
		top: auto;
		background: #fff;
		content: "";
		height: 350px;
		position: absolute;
		// top: -175px;
		transform: skewY(12deg);
		width: 100%;
	}
}
@media (max-width: 1610px){
	.new{
		.grid-wrap{
			.art{
				&__text{
					font-size: 12px;
					line-height: 1.4;
				}
				&__header{
					margin-bottom: 12px;
					a{
						font-size: 20px;
						font-weight: 500;
					}
				}
				.info2{
					margin: 0 -24px 12px -24px;
				}
			}
		}
	}
}
@media (max-width: 1200px){
	.info-grafic{
		&__wrap{
			&:after{
				left: -30%;
			}
		}
	}
	.main_gallery_bg{
		background-attachment: scroll!important;
	}
	.main_gallery_bg:before{
		height: 300px;
	}
	.wrap-section-nav_top{
		top: -15%;
	}
	.main_gallery {
		&__content{
			margin-top: 180px;
		}
		&__content_main-ra{
			margin-top: 90px;
		}
	}
	.main_services{
		.services__group{
			padding: 0;
		}
	}
	.new{
		.grid-wrap{
			.art{
				&__wrap{
					padding: 10px;
				}
			}
		}
	}
	.services_more{
		&__item{
			padding: 0 20px;
		}
	}
}
@media (max-width: 1040px){
	.new{
		.grid-wrap{
			flex-direction: column;
			.col1, .col2{
				width: 100%;
			}
			.col2{
				flex-direction: row;
			}
			.art{
				&__header{
					a{
						font-size: 16px;
					}
				}
			}
		}
	}
}
@media (max-width: 1120px){
		.info-grafic{
			&__wrap{
				&:after{
					top: -15%;
					left: -16%;
					border-bottom: 758px solid rgba(241, 219, 155, 0.67);
					border-left: 575px solid transparent;
					border-right: 533px solid transparent;
				}
				.img{
					text-align: center;
				}
			
			}
			&__box{
				flex-direction: row;
				padding-right: 0;
				max-width: 100%;
				padding-bottom: 25px;
				>p{
					width: 50%;
				}
			}
			&__content{
				width: 70%;
				align-items: center;
				flex-direction: column-reverse;
				padding-right: 20px;
			}
			.img-man:before{
				display: none;
			}
		}

}
@media screen and (max-width: 992px){
	.services_more{
		&__item{
			width: 33.3%;
			padding-bottom: 15px;
		}
	}
	.info-grafic{
		&__wrap:after{
			left: -40%;
		}
	}
}
@media (max-width: 820px){
	.main_gallery {
		&__content{
			margin-top: 80px;
		}
		.wrap-section-nav_top{
			top: -5%;
		}
	}
	.box_social{
		top: 50%;
		transform: translateY(-50%);
	}
	.new{
		.grid-wrap	{
			border: 1px solid #dbdbdb;
			border-left: 1px solid #dbdbdb;
			border-right: 1px solid #dbdbdb;
			.col2{
				.grid-elem:first-child{
					border-left: none;
				}
				.art{
					border-top: 1px solid #dbdbdb;
				}
			}
		}
	}
	.info-grafic{
		&__wrap{
			flex-direction: column;
			&:after{
				top: 10%;
				left: -53%;
			}
		}
		&__content{
			width: 100%;
			padding-left: 35px;
		}
	}
}
@media (max-width: 686px){
	.info-grafic{
		&__wrap{
			&:before{
				content: '';
				width: 15px;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0px;
				display: block;
				background-color: #e3e3e3;
				z-index: 2;
			}
			&:after{
				top: 10%;
				left: inherit;
				right: -163%;
			}
		}
	}	
}
@media (max-width: 620px){
	.main_gallery {
		&__content{
			margin-top: 40px;
		}
		.wrap-section-nav_top{
			top: -1%;
		}
	}
	.new{
		.grid-wrap{
			.col2{
				flex-direction: column;
				.art{
					border-left: none;
				}
			}
			.art{
				
				&__img_big{
					display: none;
				}
				&__wrap{
					width: 100%;
				}
			}
		}
	}
	.info-grafic__wrap{
		.img{
			img{
				max-width: 100%;
			}
		}
	}
}
@media screen and (max-width: 544px){
	.services_more{
		&__item{
			padding: 0 5px 15px;
		}
	}
}
@media (max-width: 480px){
	.services_more{
		&__item{
			width: 50%;
		}
	}
	.main-slider{
		.item__title{
			margin-bottom: 60px;
		}
	}
	.h2_main{
		font-size: 22px;
		padding: 30px 0 30px 10px;
		&:before{
			top: 33px;
			width: 5px;
			height: 20px;
		}
	}
	.info-grafic{
		&__wrap:after{
			right: -230%;
		}
		.h2_main:before{
			top: 2px;
		}
		&__box{
			flex-direction: column;
			align-items: baseline;
			padding-bottom: 10px;
			>p{
				width: 100%;
				margin-bottom: 10px;
			}
		}
	}
}
@media (max-width: 405px){
	.info-grafic__wrap:after {
    top: 10%;
    left: inherit;
    right: -300%;
  }
}