.main_slider{
	.slider__item{
		position: relative;
		cursor: pointer;
		z-index: 1;
		&:before{
			content: "";
			position: absolute;
			display: block;
			background-position: center;
			background-size: cover;
			top: 0;
			height: 100%;
			width: 100%;
		}
	}
	.first_img{
		&:before{
			background-image: url("../img/main_slider1.png");
		}
	}
	.first_img2{
		&:before{
			background-image: url("../img/main_slider2.png");
		}
		.item__contact{
			padding-top: 188px;
		}
	}
	.item{
		&__inner{
			position: relative;
			z-index: 2;
			padding-top: 26px;
			padding-bottom: 60px;
		}
		&__title{
			max-width: 325px;
			margin-bottom: 135px;
			position: relative;
			border-left: 10px solid #d2a26f;
			padding-left: 42px;
			transition: all .3s ease-out;
			transform: translateX(-10%);
			opacity: 0;
			filter: alpha(opacity=0);
			.h2{
				color: #7d7d7d;
				font-family: 'HelveticaNeue-Medium', Arial, sans-serif;
				font-weight: normal;
				letter-spacing: -2px;
			}
			&:before{
				position: absolute;
				content: '';
				width: 0;
				height: 0;
				left: 12px;
				top: 7px;
				border-style: solid;
				border-width: 19.5px 0 19.5px 18px;
				border-color: transparent transparent transparent #ffffff;
			}
			.subtitle{
				text-transform: uppercase;
				padding-top: 15px;
				max-width: 115px;
				display: block;
				font-size: 12px;
				font-family: 'HelveticaNeue-Medium', Arial, sans-serif;
			}
		}
		&__contact{
			padding-top: 135px;
			.phone{
				font-family: 'HelveticaNeue-Medium', Arial, sans-serif;
				font-size: 23px;
				color: #7d7d7d;
				padding-bottom: 25px;
				letter-spacing: 0.5px;
				position: relative;
				&:before{
					content: '';
					display: block;
					position: absolute;
					top: -35px;
    			left: -4px;
					height: 34px;
					width: 21px;
					background-image: url(../img/pngsprite/sprite.png);
					background-position: 21px 0;
					background-size: 170px;
				}
			}
		}
	}
	.slick-slide{
		transition: opacity 1500ms ease !important;
	}
	.slick-list{
		height: 100%;
	}
	.slider__item.slick-active{
		.item{
			&__title{
				transform: translateX(0%); 
				filter: alpha(opacity=100);
				opacity: 1;
			}
		}
	}
}
.h2_main{
	border-left: 10px solid #d2a26f;
	padding-left: 20px;	
	font-family: 'HelveticaNeue-Medium', Arial, sans-serif;
	font-size: 40px;
  text-transform: uppercase;
  color: #1d0000;
  font-weight: normal;
  line-height: 30px;
  margin: 45px 0;
}
.box_social{
	position: absolute;
	right: 0;
	top: 50px;
	li{
		margin: 10px;	
		a{
			position: relative;
			display: block;
			transition: all .3s ease-out;
			&:before{
				content: '';
				display: block;
				height: 39px;
				width: 39px;
				background-image: url(../img/pngsprite/sprite.png);
			}
			&:hover{
				opacity: 0.8;
			}
		}
		.fb:before{
			background-position: 103px 39px;
		}
		.skype:before{
			background-position: 92px 103px;
		}
		.tw:before{
				background-position: 220px 39px;
		}
		.inst:before{
			background-position: 181px 39px;
		}
		.viber:before{
			background-position: 142px 39px;
		}
	}
}
.border{
	border-left: 1px solid #222222;
	border-right: 1px solid #222222;
}
.main_services{
	padding-top: 8px;
	padding-bottom: 75px;
	.services__group{
		padding-top: 0;
	}
	.item{
		&__title{
			border: 1px solid #d9d9d9;
			transition: all .3s ease-out;
		}
		div{
			width: 135px;
		}
	}
	.item:hover{
		.item__title{
			border-color: #ee0000;
		}
	}
}
.clients{
	.clients_bg{
		padding: 1px 0;
		background-color: #f7f5f5;
	}
}