.services_word{
	padding-bottom: 26px;
	.article{
		&__img{
			margin-left: -15px;
		}
		&__text{
			width: 300px;
			margin-left: 26px;
			p:first-child{
				padding-bottom: 18px;
			}
		}
	}
}
.h3{
	font-family: 'HelveticaNeue-Medium', Arial, sans-serif;
	color: #404040;
	font-size: 22px;
	text-transform: uppercase;
	padding: 22px 0 22px 30px;
	font-weight: 400;
}
p{
	font-family: 'corbel', Arial, sans-serif;
	font-size: 13px;
	color: #161616;
	letter-spacing: 1px;
}
.sidebar{
	padding-top: 61px;
}
.h4{
	font-family: 'corbel', Arial, sans-serif;
	color: #161616;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 400;
	padding: 15px 18px;
}
.gallery-block{
	background-color: #f0e5c7;
	padding: 22px 0 26px;
	.gallery{
		ul{
			flex-wrap: wrap;
			max-width: 798px;
			margin: 0 auto;
			li{
				margin: 5px 0px;
				cursor: pointer;
			}
		}
	}
}
.hits{
	padding-bottom: 37px;
	.best-work__title{
		padding-top: 45px;
	}
}
@media screen and (max-width: 1125px){
	.article{
		.flex-row{
			flex-direction: column;
		}
	}
	.services_word{
		padding-bottom: 26px;
		.article{
			&__img{
				margin-left: 0px;
				padding-bottom: 7px;
			}
			&__text{
				width: 100%;
				margin-left: 0px;
			}
		}
	}
	.btn_md{
		font-size: 12px;
	}
	.h4{
		padding: 12px 18px
	}
}
@media screen and (max-width: 992px){
	p{
		font-size: 12px;
	}
	.h3{
    padding: 18px 0 18px 7px;
    font-size: 18px;
	}
	.services_word{
		padding-bottom: 22px;
		.article{
			&__text{
				p:first-child{
					padding-bottom: 7px;
				}
			}
		}
	}
}
@media screen and (max-width: 768px){
	
}
@media screen and (max-width: 544px){
	
}
@media screen and (max-width: 480px){
	
}