//*********************************************
@import 'bourbon';
//*********************************************
@import 'base/reset';
@import 'base/fonts';
@import 'base/slick';
@import 'base/font-awesome';
//*********************************************
@import 'abstracts/variables';
@import 'abstracts/clearfix';
@import 'abstracts/breakpoints';
@import 'abstracts/grid-framework';
@import 'abstracts/grid-mixin';
@import 'abstracts/structure';
@import 'abstracts/grid';
//*********************************************
@import 'abstracts/sprite';
//*********************************************
@import 'layout/header';
@import 'layout/footer';
@import 'layout/box-sidebar';
@import 'layout/slider_best-works';
@import 'layout/blog';
@import 'layout/main_article';
@import 'layout/contact_us';
@import 'layout/gallery';
@import 'layout/start_page';
@import 'layout/order_form';
@import 'layout/main';
//*********************************************
@import 'pages/index';
@import 'pages/services_word';
@import 'pages/main_light';


// @media (min-width: 1300px) {
// 	.container {
// 			width: 1240px;
// 	}
// }
// @media (min-width: 1400px) {
// 	.container {
// 			width: 1340px;
// 	}
// }
.page-error{
	background-color: #cfc8c8;
	h1{
		font-size: 213px;
		text-align: center;
		align-items: center;
		height: calc(100vh - 155px);
		display: flex;
		opacity: 0.5;
		justify-content: center;
	}
}
.over{
	overflow: hidden;
}
@media (max-width: 1700px) {
	.container {
		max-width: 1600px;
	}
}